Configurator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema"
	xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">



	<element name="Configurator">
		<complexType>
			<choice>
				<sequence>
					<element name="Broker" type="string" />
					<element name="Port" type="int" />
					<element name="Sectores" type="int" />
				</sequence>
    
    </choice>
		</complexType>

	</element>
</schema>