DispositivoMXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/DispositivoMXMLSchema" xmlns:tns="http://www.example.org/DispositivoMXMLSchema" elementFormDefault="qualified">

<element name="DispositivoM">
<complexType>
<sequence>
	<element name="Id" type="integer"/>
    <element name="numeroSerie" type="string"/>
</sequence>

</complexType>

</element>

</schema>