SensorXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SensorXMLSchema"
	xmlns:tns="http://www.example.org/SensorXMLSchema" elementFormDefault="qualified">

	<element name="SensorM">
		<complexType>
			<sequence>
				<element name="Id" type="integer" />
				<element name="codigo" type="string" />
				<element name="descripcion" type="string" />
			</sequence>

		</complexType>

	</element>
</schema>